body{
    font-family: 'Barlow', sans-serif;
    box-sizing: border-box;
}
.header-bg{
    background-image: url("desktop/image-header.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    /* margin-bottom: 10px; */
    padding-bottom: 10px;
}
.main-heading{
    font-weight: bolder;
    font-family: 'Fraunces', serif;
}
.items li a{
    font-size: 20px;
    line-height: 15px;
}
.items li a:hover{
    background-color: white;
    color: black !important;
    border-radius: 25px;
    font-weight: bold;
    display: inline-block;
}
.items li a:focus{
    background-color: rgb(247, 229, 229);
    color: black !important;
    border-radius: 25px;
    font-weight: bold;
    display: inline-block;
    opacity: 0.5;
}
.div1{
    background-color: rgb(245, 240, 226);
    color: black;
    width: 45%;
}
.div1 h1{
    font-family: 'Fraunces', serif;
    font-weight: bolder;
}
.para1{
    font-size: 20px;
}
.btn1{
    border: none;
    outline: none;
}
.btn1:hover{
    border-bottom: 2px solid hsl(51, 100%, 49%);
}
.btn1:focus{
    border-bottom: 2px solid hsl(51, 100%, 49%);
}
.div2{
    padding: 0px;
    margin: 0px;
}
.img1{
    background-image: url("desktop/image-transform.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 65vh;
}
.btn2{
    border: none;
    outline: none;
}
.btn2:hover{
    border-bottom: 2px solid red;
}
.btn2:focus{
    border-bottom: 2px solid red;
}
.img2{
    background-image: url("desktop/image-stand-out.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 65vh;
}

.div3-img1{
    background-image: url("desktop/image-graphic-design.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-bottom: 0px;
}
.div3-img1 h1{
    margin-top: 450px;
    font-family: 'Fraunces', serif;
    font-weight: bolder;
}
.div3-para1{
    font-size: 20px;
    color: black !important;
}
.div3-img2{
    background-image: url("desktop/image-photography.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.div3-img2 h1{
    margin-top: 450px;
    font-family: 'Fraunces', serif;
    font-weight: bolder;
}
.client{
    display: inline-block;
    background-color: rgb(252, 249, 240);
    margin: 0px;
}
.client-h1{
    font-family: 'Fraunces', serif;
    font-weight: bolder;
}
.client-para{
    font-size: 18px;
    color: black !important;
}
.client1-h2{
    font-family: 'Fraunces', serif;
}
.footer{
    margin: 0%;
    padding: 0%;
    background-color: hsl(168, 34%, 41%);
}
.footer h1{
    color:hsl(168, 66%, 10%);
    font-weight: bolder;   
}
.footer-div a{
    color:hsl(168, 66%, 10%);
    font-weight: bold;
}
